# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.production.local

# Local development files
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Next.js specific files
.swc/

# Other temporary files
temp/
tmp/